.container_title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3.5em;
  margin: 20px;

  input {
    width: 100%;
  }
}

.grid_container_email {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2.5em;
  margin: 20px;

  input {
    width: 100%;  
  }
}

@media screen and (max-width: 767px) {
  .grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5em;
  margin: 20px;
  }
}