.container_title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3.5em;
  margin: 20px;

  input {
    width: 100%;
  }
}

.grid_container_email {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2.5em;
  margin: 20px;

  input {
    width: 100%;  
  }
}

@media screen and (max-width: 767px) {
  .grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5em;
  margin: 20px;
  }
}



// .example-form {
//     padding: 0;
//     margin: 0 10px;
//     display: grid;
//     grid-template-columns: auto;
//     grid-template-rows: auto;
//     grid-template-areas: "nome"
//                         "phone"
//                         "email";
//   }

//   .input-email {
//     grid-area: email;
//   }

//   .input-password {
//     grid-area: senha;
//   }

//   .input-nome {
//     grid-area: nome;
//   }

//   .container-button {
//     margin-left: 10px;
//     margin-top: 15px;
//     display: flex;
//     justify-content: center;

//   }

// @media screen and (min-width: 769px){
// .example-form {
//   margin: 0 30px 20px 30px;
//   display: grid;
//   grid-template-columns: 1fr 1fr ;
//   grid-template-rows: auto;
//   grid-template-areas: "nome phone"
//     "email email";
//   grid-gap: 0 30px;
//   align-items: center;
// }

// .container-button {
//   margin-left: 30px;
//   display: block;
// }
