.titulo {
    display: grid;
    justify-content: center;
    padding: 40px;
    font-size: 25px;
    text-transform: uppercase;
    color: gray;
}

mat-card-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;

    mat-form-field {
        padding: 10px;
    }

    div {
        display: grid;
        padding: 20px 10px;
    }
}

.button_new_contact {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 45% 45%;
}

button {
    margin: 10px;
}

@media screen and (max-width: 767px) {
    mat-card-content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    
.button_new_contact{
    display: flex;
}


}