<app-navbar></app-navbar>
<section>
    <div class="titulo">
        <span> Formulário de Usuários</span>
    </div>
</section>

<section class="formulario">
    <form [formGroup]="formUser">
        <div>
            <mat-card-content>
                <mat-form-field>
                    <input formControlName="username" matInput placeholder="Email:" type="email">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" matInput placeholder="Senha:" type="password">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Nome:" type="text">
                </mat-form-field>
                <div>
                    <mat-checkbox>Administrador?</mat-checkbox>
                </div>
            </mat-card-content>
        </div>

        <div class="button_new_contact">
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="save()">Salvar Usuário</button>
                <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
            </mat-card-actions>
        </div>
        
    </form>

</section>