<mat-card class="example-card">
  <div class="divLogo">
  <img src="../../assets/contactura_logo.png">
</div>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
            <br>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="alignButtonsCenter">
        <button mat-button>Entrar</button>
    </mat-card-actions>
  </mat-card>