<section class="section-container">
  <mat-card class="example-card">
      <mat-card-title class="container-logo">
        <img alt="Logo da Contactura" src="../../assets/img/contactura_logo.png">
      </mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
              <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Senha</mat-label>
                  <input type="password" matInput formControlName="password">
                </mat-form-field>
            </form>
            <div class="container-button-enter">
              <button mat-button (click)="login()">Entrar</button>
            </div>              
      </mat-card-content>
    </mat-card>
</section>