:host{
    display: flex;
    justify-content: center;
    margin: 180px 0px;
}

.example-card {
    width: 400px;
  }
  
.exemple-form {
    min-width: 150px;
    min-width: 500px;
    width: 100%;
}

.exemple-full-width{
    width: 100%;
}
.inputSize{
    width: 400px;
}
.alignButtonsCenter{
    display: flex;
    justify-content: center;
}

.divLogo{
    display: flex;
    justify-content: center;
}
.divLogo img {
    height: 150px;
    width: 150px;

}


