:host{
    display: flex;
    justify-content: center;
  }
  
  .example-card {
      max-width: 400px;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
  
    .logo-span {
      display: flex;
      justify-content: center;    
    
      img {
        width: 150px;
        height: 150px;
      }
    }
  
    .container-button-enter {
      display: flex;
      justify-content: center;
  
      button {
        color: black;
        background-color: white !important;
      }
    }
  
    .container-buttons{
      display: flex;
      justify-content: space-between;
    }
  
    /* ALINHAMENTO VERTICAL COM FLEXBOX */
    .section-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    } 