:host{
    display: flex;
    justify-content: center;
    padding: 100px 0px 0px 0px;
}

.textoErro, .textoVoltar{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    
  }

  .textoVoltar a{
      text-decoration: none;
  }
  .textoVoltar a:hover{
    color: #777;
    font-weight: bold;
    text-decoration: none;
  }

