<nav class="navbar">
    <!--MENU REPSONSIVO MOBILE-->
    <span id="menu-mobile" class="navbar-toggle">
        <mat-icon>menu</mat-icon>
    </span>


    <!--MENU REPSONSIVO DESKTOP-->
    <span class="logo"><img src="../../../assets/img/contactura_logo2.png" alt="Logo contactura"> </span>

    <ul id="menu-desktop" class="main-nav">
        <li>
            <a routerLink="/lista-contatos" class="nav-links">Contatos</a>
        </li>
        <li>
            <a routerLink="/lista-usuarios" class="nav-links">Usuários</a> 
        </li>
        <li>
            <a class="nav-links logout" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>